# For projects using Nanoc (http://nanoc.ws/)

# Default location for output (needs to match output_dir's value found in nanoc.yaml)
output/

# Temporary file directory
tmp/nanoc/

# Crash Log
crash.log
# exclude everything
C:\Users\IainN\OneDrive\Desktop\Bot\GordonRamsayDiscordBot\Gordon Ramsay Discord Bot\GordonRamsayDiscordBot\bin\Debug\netcoreapp3.1\Resources/*
Gordon Ramsay Discord Bot/GordonRamsayDiscordBot/bin/Debug/netcoreapp3.1/Resources/config.json
Gordon Ramsay Discord Bot/GordonRamsayDiscordBot/bin/Debug/netcoreapp3.1/Resources/config.json
